{% extends 'base.html' %}
{% block title %}Offer a sample{% endblock %}
{% block content %}
<div class="container py-4">
  <h1 class="h4 mb-3">Offer a sample</h1>
  <form method="post" class="row g-3">
    <div class="col-md-3"><label class="form-label">Formula*</label><input class="form-control" name="formula" required></div>
    <div class="col-md-3"><label class="form-label">Activity*</label><input class="form-control" name="activity" placeholder="POD/OXD/CAT/SOD/GPx" required></div>
    <div class="col-md-2"><label class="form-label">pH*</label><input class="form-control" name="ph" required></div>
    <div class="col-md-2"><label class="form-label">Temp (°C)*</label><input class="form-control" name="temp_c" required></div>
    <div class="col-md-2"><label class="form-label">Substrate (mM)</label><input class="form-control" name="substrate_mM"></div>
    <div class="col-md-2"><label class="form-label">Catalyst (mg/mL)</label><input class="form-control" name="catalyst_mg_per_mL"></div>
    <div class="col-md-3"><label class="form-label">Km</label><input class="form-control" name="km"></div>
    <div class="col-md-3"><label class="form-label">Vmax</label><input class="form-control" name="vmax"></div>
    <div class="col-md-6"><label class="form-label">DOI*</label><input class="form-control" name="doi" required></div>
    <div class="col-12"><button class="btn btn-primary">Submit</button></div>
  </form>
</div>
{% endblock %}
